@import 'tailwindcss';

/* Tell Tailwind to use these CSS vars as theme tokens */
@theme inline {
  --color-foreground: var(--color-foreground);
  --color-background: var(--color-background);
  --color-primary: var(--color-primary);
}

/* Global font rendering optimizations */
* {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root.dark {
  --color-theme-meta: #1d1715;
  --color-foreground: oklch(75% 0.183 55.934);
  --color-background: oklch(21.113% 0.01046 39.186);
  --color-primary: oklch(75% 0.183 55.934);
}

:root.blueprint {
  --color-theme-meta: #003f71;
  --color-foreground: oklch(93% 0.06 85);
  --color-background: oklch(35% 0.12 240);
  --color-primary: oklch(93% 0.06 85);
}

:root.chalk {
  --color-theme-meta: #f2f2f2;
  --color-foreground: oklch(20% 0 0);       
  --color-background: oklch(96% 0 0);       
  --color-primary: oklch(20% 0 0);
}

:root.noir {
  --color-theme-meta: #060606;
  --color-foreground: oklch(90% 0 0);     
  --color-background: oklch(12% 0 0);       
  --color-primary: oklch(90% 0 0);
}

/* Base body styles */
body {
  font-family: sans-serif;
  color: var(--color-foreground);
  background: var(--color-background);
}